@use "./../../fonts.scss";

.header {
  min-height: 80px;
  height: var(--spacing-1000);
  padding: 0 var(--spacing-400);
  display: flex;
  align-items: center;
  gap: var(--spacing-200);

  &__headline {
    margin-right: auto;
    @include fonts.apply-text-preset("1");

    &--tag {
      span {
        color: var(--color-text-3);
      }
    }
  }

  :nth-child(2) {
    // input
    max-width: 300px;
  }

  &__settings-button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-icon);
  }
}
