@use "./../../fonts.scss";

.new-note-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;

  input,
  textarea {
    color: var(--color-text-1);
    background-color: var(--color-surface-1);
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 4px;
    width: 100%;

    &::placeholder {
      color: var(--color-neutral-400);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--color-box-shadow-1),
        0 0 0 3px var(--color-box-shadow-2);
    }

    &:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-text-1);
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.new-note {
  overflow: auto;
  padding: var(--spacing-250) var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  height: 100%;

  &__headline {
    @include fonts.apply-text-preset("1");
  }

  &__property {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    @include fonts.apply-text-preset("6");
  }

  &__property-key {
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
    color: var(--color-text-7);
    min-width: 115px;

    svg {
      width: var(--spacing-200);
      height: var(--spacing-200);
    }
  }

  &__property-value {
    padding: var(--spacing-75) 0;
    color: var(--color-text-7);
    flex: 1;
  }

  &__textarea {
    resize: none;
    white-space: pre-wrap;
    flex: 1;
    @include fonts.apply-text-preset("5");
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }
}

@media (min-width: 48rem) {
  .new-note {
    padding: var(--spacing-300) var(--spacing-400);
  }
}

@media (min-width: 67.5rem) {
  .new-note-wrapper {
    max-width: 588px;
    border-right: 1px solid var(--color-border-1);
  }
}
