@use "./../../fonts.scss";

.input-field {
  width: 100%;

  &__label {
    display: block;
    margin-block-end: var(--spacing-75);
    @include fonts.apply-text-preset("4");
  }

  &__input-container {
    position: relative;
  }

  &__input {
    color: var(--color-text-1);
    padding: var(--spacing-150) var(--spacing-200);
    border-radius: var(--spacing-150);
    border: 1px solid var(--color-border-2);
    background-color: var(--color-surface-1);
    width: 100%;
    outline: transparent;

    ::placeholder {
      color: var(--color--neutral-500);
      @include fonts.apply-text-preset("5");
    }

    &:hover {
      background-color: var(--color-bg-hover-1);
    }

    &:focus {
      border-color: var(--color-border-3);
      box-shadow: 0 0 0 2px var(--color-box-shadow-1),
        0 0 0 4px var(--color-box-shadow-2);
    }

    &:disabled {
      color: var(--color-neutral-300);
      background-color: var(--color-neutral-50);
    }

    &:invalid,
    &--invalid {
      border-color: var(--color-red-500);
    }

    &:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-text-1);
      transition: background-color 5000s ease-in-out 0s;
    }

    &--btn-left {
      padding-left: 2.75rem; // 16 + 20 + 8
    }

    &--btn-right {
      padding-right: 2.75rem;
    }
  }

  &__btn {
    width: var(--spacing-250);
    height: var(--spacing-250);

    img,
    svg {
      color: var(--color-icon);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--left {
      position: absolute;
      top: var(--spacing-150);
      left: var(--spacing-200);
    }

    &--right {
      position: absolute;
      top: var(--spacing-150);
      right: var(--spacing-200);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    margin-block-start: var(--spacing-75);
    color: var(--color-text-5);
    @include fonts.apply-text-preset("6");

    svg {
      width: var(--spacing-200); // 16px
      height: var(--spacing-200); // 16px
      path {
        stroke: var(--color-text-5);
      }
    }

    &--disabled {
      color: var(--color-neutral-300);

      svg path {
        stroke: var(--color-neutral-300);
      }
    }

    &--invalid {
      color: var(--color-red-500);

      svg path {
        stroke: var(--color-red-500);
      }
    }
  }
}
