@use "./../../../fonts.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-page);
  min-height: 100dvh;
  padding: var(--spacing-200);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);

  background-color: var(--color-surface-1);
  border: 1px solid var(--color-border-1);
  border-radius: var(--spacing-150);
  padding: var(--spacing-500) var(--spacing-200);
  @include fonts.apply-text-preset("5");

  &__logo {
    display: block;
    margin: 0 auto var(--spacing-100);
  }

  &__section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);

    width: 100%;
    margin-block-start: var(--spacing-300);

    &--text {
        gap: var(--spacing-100);
        margin-block-start: 0;
        text-align: center;
    }

    &--google-login {
      margin-block-start: var(--spacing-100);
    }
    
  }

  &__headline {
    @include fonts.apply-text-preset("1");
  }

  &__description {
    color: var(--color-text-3);
  }

  &__input-container {
    position: relative;
    width: 100%;

    a {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .btn {
    width: 100%;
    max-height: 2.75rem;
  }
}

@media (min-width: 48rem) { // 768px
  .form {
    width: 100%;
    max-width: 32.625rem; // 522px
    padding: var(--spacing-600) var(--spacing-400);
  }
}

@media (min-width: 67.5rem) { // 1080px
  .form {
    max-width: 33.75rem; // 540px
    padding: var(--spacing-600);
  }
}
