@use "./../../../../fonts.scss";

.color-theme {
  padding: var(--spacing-300) var(--spacing-200);

  &__back-link {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    color: var(--color-text-1);
    text-decoration: none;
    margin-bottom: var(--spacing-150);
    @include fonts.apply-text-preset("4");

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__headline {
    margin-bottom: var(--spacing-100);
    @include fonts.apply-text-preset("1");
  }

  &__subtext {
    color: var(--color-text-7);
    margin-bottom: var(--spacing-250);
    @include fonts.apply-text-preset("5");
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);
    align-items: flex-end;
  }

  &__radio-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    width: 100%;
  }
}

@media (min-width: 48rem) {
  .color-theme {
    padding: var(--spacing-300) var(--spacing-400);
  }
}

@media (min-width: 67.5rem) {
  .color-theme {
    padding: var(--spacing-400);
    width: 100%;
    max-width: 585px;

    &__headline {
      margin-bottom: var(--spacing-50);
      @include fonts.apply-text-preset("3");
    }
  }
}
