@use "../../../fonts.scss";

.note {
  &__property {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    padding: var(--spacing-75) 0;
    @include fonts.apply-text-preset("6");
  }

  &__property-key {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-75);
    color: var(--color-neutral-700);
    min-width: 115px;

    svg {
      width: var(--spacing-200);
      height: var(--spacing-200);
    }
  }
}
