@use "./../../fonts.scss";

.custom-radio-button {
  display: flex;
  align-items: center;
  padding: var(--spacing-200);
  gap: var(--spacing-200);
  border: 1px solid var(--color-border-1);
  border-radius: var(--spacing-150);

  &__icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-border-4);
    border-radius: var(--spacing-150);
    background-color: var(--color-surface-1);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    flex: 1;
    h3 {
      margin-bottom: var(--spacing-75);
      @include fonts.apply-text-preset("4");
    }

    p {
      @include fonts.apply-text-preset("6");
    }
  }

  &:has(input:checked) {
    background-color: var(--color-bg-hover-1);
  }

  &__input {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: var(--color-surface-1);
    border: 2px solid var(--color-border-5);
    border-radius: var(--radius-full);

    &:checked {
      border: 4px solid var(--color-blue-500);
      border-radius: var(--radius-full);
    }



  }
}