@use "./../../fonts.scss";

.toast {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    border: 1px solid var(--color-border-4);
    border-radius: 8px;
    background-color: var(--color-bg-5);
    padding: var(--spacing-100);
    width: 390px;
    animation: slideIn 225ms ease-in-out;


    @include fonts.apply-text-preset("6");

    &__checkmark-icon {
        width: 16px;
        height: 16px;
        color: var(--color-green-500);
    }

    &__error-icon {
        width: 16px;
        height: 16px;
        background-color: var(--color-red-500);
        border-radius: var(--radius-full);
        color: var(--color-neutral-0);
    }

    &__text {
        flex: 1;
    }

    &__link {
        color: var(--color-text-1);
    }

    &__close-button {
        width: 16px;
        height: 16px;
    }

    &__close-icon {
        width: 16px;
        height: 16px;
        color: var(--color-neutral-400);
    }

    @keyframes slideIn {
        from {transform: translateX(calc(100% + 64px));}
        to {transform: translateX(0);}
    }
}

