@use "./../../fonts.scss";

.notes-list-wrapper {
  position: relative;
  padding: var(--spacing-250) var(--spacing-200);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);

  > :not(:last-child)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-200);
  }

  &__headline {
    color: var(--color-neutral-950);
    @include fonts.apply-text-preset("1");

    &--tag {
      span {
        color: var(--color-neutral-600);
      }
    }
  }

  &__empty-notification {
    background-color: var(--color-neutral-100);
    padding: var(--spacing-100);
    border-radius: var(--spacing-100);
    border: 1px solid var(--color-neutral-200);

    a {
      color: var(--color-neutral-950);
    }
  }
}

.new-note-button {
  position: fixed;
  right: var(--spacing-200);
  bottom: calc(56px + var(--spacing-200)); // 56px for mobile nav height
  width: var(--spacing-600);
  height: var(--spacing-600);
  border-radius: var(--radius-full);
  box-shadow: 0 7px 11px 0 rgb(from var(--color-neutral-300) r g b / 70%);

  svg {
    flex-shrink: 0;
    width: var(--spacing-400);
    height: var(--spacing-400);
  }
}

@media (min-width: 48rem) {
  // 768px
  .notes-list-wrapper {
    padding: var(--spacing-300) var(--spacing-400);
  }

  .note-list {
    &__empty-notification {
      position: relative;
      margin-bottom: var(--spacing-200);

      &::after {
        content: "";
        position: absolute;
        bottom: calc(-1 * var(--spacing-200));
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-neutral-200);
      }
    }
  }

  .new-note-button {
    right: var(--spacing-400);
    bottom: calc(74px + var(--spacing-400)); // 74px for mobile nav height
    width: var(--spacing-800);
    height: var(--spacing-800);
  }
}

@media (min-width: 67.5rem) {
  // 1080px
  .notes-list-wrapper {
    width: 100%;
    max-width: 290px;
    padding: var(--spacing-250) var(--spacing-200) var(--spacing-250)
      var(--spacing-400);
    border-right: 1px solid var(--color-neutral-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
  }

  .new-note-button {
    position: unset;
    width: 100%;
    height: unset;
    box-shadow: none;
    border-radius: var(--spacing-100);
  }
}
