@use "./../../../../fonts.scss";

.settings {
  &__list-item {
    a {
      display: flex;
      align-items: center;
      gap: var(--spacing-100);
      border-radius: 6px;
      color: var(--color-neutral-950);
      text-decoration: none;
      padding: 8px;
      @include fonts.apply-text-preset("4");

      &:hover,
      &.active {
        background-color: var(--color-neutral-100);
      }

      span {
        flex: 1;
      }
    }
  }
}
