@use "./../../../fonts.scss";

.tag-list-wrapper {
  position: relative;
  padding: var(--spacing-250) var(--spacing-200);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.tag-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);

  > :not(:last-child)::after {
    content: "";
    display: flex;
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
    background-color: var(--color-neutral-200);
    margin-top: var(--spacing-50);
  }

  &__headline {
    color: var(--color-neutral-950);
    @include fonts.apply-text-preset("1");
  }
}

@media (min-width: 48rem) {
  // 768px
  .tag-list-wrapper {
    padding: var(--spacing-300) var(--spacing-400);
  } }

