@use "./../../fonts.scss";

.note-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;

  input,
  textarea {
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 4px;
    width: 100%;

    &::placeholder {
      color: var(--color-neutral-400);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--color-neutral-0),
        0 0 0 3px var(--color-neutral-500);
    }
  }
}

.note {
  overflow: auto;
  padding: var(--spacing-250) var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  height: 100%;

  &__title {
    @include fonts.apply-text-preset("1");

    &::placeholder {
      color: var(--color-neutral-950);
    }
  }

  &__text {
        resize: none;
    white-space: pre-wrap;
    flex: 1;
    @include fonts.apply-text-preset("5");

    &::placeholder {
      color: var(--color-neutral-700);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }
}

@media (min-width: 48rem) {
  .note {
    padding: var(--spacing-300) var(--spacing-400);
  }
}

@media (min-width: 67.5rem) {
  .note-wrapper {
    max-width: 588px;
    border-right: 1px solid var(--color-neutral-200);
  }

  .note__controls-desktop {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
    padding: var(--spacing-250) var(--spacing-200);
    flex-grow: 1;

    button {
      justify-content: flex-start;
      max-width: 242px;
      width: 100%;
    }
  }
}
