@use "./../../fonts.scss";

.note-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;

  input,
  textarea {
    color: var(--color-text-1);
    background-color: var(--color-surface-1);
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 4px;
    width: 100%;

    &::placeholder {
      color: var(--color-neutral-400);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--color-box-shadow-1),
        0 0 0 3px var(--color-box-shadow-2);
    }

    &:-webkit-autofill {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--color-text-1);
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.note {
  overflow: auto;
  padding: var(--spacing-250) var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  height: 100%;

  &__title {
    @include fonts.apply-text-preset("1");
  }

  &__text {
    resize: none;
    white-space: pre-wrap;
    flex: 1;
    @include fonts.apply-text-preset("5");
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }
}

@media (min-width: 48rem) {
  .note {
    padding: var(--spacing-300) var(--spacing-400);
  }
}

@media (min-width: 67.5rem) {
  .note-wrapper {
    max-width: 588px;
    border-right: 1px solid var(--color-border-1);
  }

  .note__controls-desktop {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
    padding: var(--spacing-250) var(--spacing-200);
    flex-grow: 1;

    button {
      justify-content: flex-start;
      max-width: 242px;
      width: 100%;
    }
  }
}
