@use "./../../fonts.scss";

.note-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.note {
  overflow: auto;
  padding: var(--spacing-250) var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  height: 100%;

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls-right {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  &__controls-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
    color: var(--color-neutral-600);
    @include fonts.apply-text-preset("5");

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      color: var(--color-neutral-950);
    }

    &--primary {
      color: var(--color-blue-500);

      &:hover {
        color: var(--color-blue-700);
      }
    }
  }

  &__property {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    @include fonts.apply-text-preset("6");
  }

  &__property-key {
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
    color: var(--color-neutral-700);
    min-width: 115px;

    svg {
      width: var(--spacing-200);
      height: var(--spacing-200);
    }
  }

  &__property-value {
    padding: var(--spacing-75) 0;
  }

  &__text {
    white-space: pre-wrap;
    margin-bottom: auto;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }
}
