@use "./../../fonts.scss";

.main-content-wrapper {
  height: 100%;
  overflow: auto;
}

.overlay {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-surface-1);
}

@media (min-width: 67.5rem) {
  // 1080px
  .main-content-wrapper {
    display: flex;
  }
}
