.layout {
  display: grid;
  min-height: 100dvh;
  max-height: 100dvh;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-surface-1);

  &__header {
    grid-area: header;
    position: relative;
    z-index: 999;
  }

  &__main {
    grid-area: main;
    position: relative;
    overflow: auto;
    border-radius: var(--spacing-150) var(--spacing-150) 0 0;
  }

  &__nav {
    grid-area: nav;
  }
}

.no-scroll {
  overflow: hidden;
}
