@use "./../../../fonts.scss";

.note {
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls-right {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
  }

  &__controls-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-75);
    color: var(--color-text-3);
    @include fonts.apply-text-preset("5");

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      color: var(--color-bg-hover-3);
    }

    &--primary {
      color: var(--color-blue-500);

      &:hover {
        color: var(--color-blue-700);
      }
    }
  }
}