@use "./../../fonts.scss";

.note-item {
  list-style: none;
  color: var(--color-neutral-950);
  // border-bottom: 1px solid var(--color-neutral-200);

  &__link {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
    color: var(--color-neutral-950);
    border-radius: 6px;
    padding: var(--spacing-100);
    text-decoration: none;

    &--active {
      background-color: var(--color-neutral-100);
    }
  }

  &--selected {
    background-color: var(--color-neutral-100);
  }

  &__title {
    @include fonts.apply-text-preset("3");
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: var(--spacing-50);
  }

  &__tag {
    background-color: var(--color-neutral-200);
    border-radius: 4px;
    padding: var(--spacing-25) var(--spacing-75);
    @include fonts.apply-text-preset("6");
  }

  &__last-edited {
    color: var(--color-neutral-700);
    @include fonts.apply-text-preset("6");
  }
}
