.layout {
  display: grid;
  min-height: 100dvh;
  max-height: 100dvh;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-neutral-100);

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
    position: relative;
    overflow: auto;
    background-color: var(--color-neutral-0);
    border-radius: var(--spacing-150) var(--spacing-150) 0 0;
  }

  &__nav {
    grid-area: nav;
  }
}
