@use './fonts.scss';

:root {
  // === Colors ===
  --color-neutral-950: #0e121b;
  --color-neutral-900: #191b25;
  --color-neutral-800: #232530;
  --color-neutral-700: #2b303b;
  --color-neutral-600: #525866;
  --color-neutral-500: #717784;
  --color-neutral-400: #99a0ae;
  --color-neutral-300: #cacfd8;
  --color-neutral-200: #e0e4ea;
  --color-neutral-100: #f3f5f8;
  --color-neutral-50: #f5f7fa;
  --color-neutral-0: #ffffff;

  --color-blue-700: #2547d0;
  --color-blue-500: #334cff;
  --color-blue-50: #ebf1ff;

  --color-green-500: #21c16b;
  --color-green-100: #d1fbe9;

  --color-red-500: #fb3748;
  --color-red-100: #ffd5d8;

  // === Spaces ===
  --spacing-0: 0rem;
  --spacing-25: 0.125rem;   /* 2px */
  --spacing-50: 0.25rem;    /* 4px */
  --spacing-75: 0.375rem;   /* 6px */
  --spacing-100: 0.5rem;    /* 8px */
  --spacing-150: 0.75rem;   /* 12px */
  --spacing-200: 1rem;      /* 16px */
  --spacing-250: 1.25rem;   /* 20px */
  --spacing-300: 1.5rem;    /* 24px */
  --spacing-400: 2rem;      /* 32px */
  --spacing-500: 2.5rem;    /* 40px */
  --spacing-600: 3rem;      /* 48px */
  --spacing-800: 4rem;      /* 64px */
  --spacing-1000: 5rem;     /* 80px */

  // === Radius ===
  --radius-0: 0rem;
  --radius-4: 0.25rem;      /* 4px */
  --radius-6: 0.375rem;     /* 6px */
  --radius-8: 0.5rem;       /* 8px */
  --radius-10: 0.625rem;    /* 10px */
  --radius-12: 0.75rem;     /* 12px */
  --radius-16: 1rem;        /* 16px */
  --radius-20: 1.25rem;     /* 20px */
  --radius-24: 1.5rem;      /* 24px */
  --radius-full: 62.4375rem;/* 999px (praktisch ≈ 1000px) */

  // === Shadows ===
  --shadow-small: 0px 4px 6px rgba(#f0f0f0, 0.6);
  --shadow-large: 0px 8px 12px rgba(#f0f0f0, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

// Links
.link {
  color: var(--color-neutral-950);
  text-decoration: none;

  &:hover {
    color: var(--color-blue-500);
  }

  &--underline {
    color: var(--color-neutral-600);
    text-decoration: underline;
  }
}

// Buttons
button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn {
  padding: var(--spacing-150) var(--spacing-200);
  border-radius: var(--spacing-100);
  border: 1px solid transparent;
  outline: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
  @include fonts.apply-text-preset("4");

  &--primary {
    color: var(--color-neutral-0);
    background-color: var(--color-blue-500);

    &:hover {
      background-color: var(--color-blue-700);
    }

    &:focus {
      background-color: var(--color-blue-500);
      box-shadow: 0 0 0 2px var(--color-neutral-0),
        0 0 0 4px var(--color-neutral-400);
    }

    &:disabled {
      color: var(--color-neutral-300);
      background-color: var(--color-neutral-100);
    }
  }

  &--secondary {
    color: var(--color-neutral-600);
    background-color: var(--color-neutral-100);

    &:hover {
      color: var(--color-neutral-950);
      background-color: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-300);
    }

    &:focus {
      color: var(--color-neutral-950);
      background-color: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-950);
      box-shadow: 0 0 0 2px var(--color-neutral-0),
        0 0 0 4px var(--color-neutral-400);
    }

    &:disabled {
      color: var(--color-neutral-300);
      background-color: var(--color-neutral-50);
    }
  }

  &--border {
    color: var(--color-neutral-950);
    background-color: var(--color-neutral-0);
    border: 1px solid var(--color-neutral-300);

    &:hover {
      color: var(--color-neutral-600);
      background-color: var(--color-neutral-100);
      border: 1px solid transparent;
    }

    &:focus {
      color: var(--color-neutral-950);
      background-color: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-950);
      box-shadow: 0 0 0 2px var(--color-neutral-0),
        0 0 0 4px var(--color-neutral-400);
    }

    &:disabled {
      color: var(--color-neutral-300);
      background-color: var(--color-neutral-50);
    }
  }
}

.hl-separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-neutral-200);
}
