.layout {
  display: grid;
  min-height: 100dvh;
  max-height: 100dvh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav header"
    "nav main";
  background-color: var(--color-surface-1);

  &__header {
    grid-area: header;
    border-bottom: 1px solid var(--color-border-1);
  }

  &__main {
    grid-area: main;
    position: relative;
    overflow: auto;
  }

  &__nav {
    grid-area: nav;
    width: 272px;
    border-right: 1px solid var(--color-border-1);
  }
}
