.layout {
  display: grid;
  min-height: 100dvh;
  max-height: 100dvh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav header"
    "nav main";
  background-color: var(--color-neutral-0);

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
    position: relative;
    overflow: auto;
    background-color: rgb(78, 78, 143);
  }

  &__nav {
    grid-area: nav;
    width: 272px;
    background-color: rgb(0, 255, 183);
  }
}

// .no-scroll {
//   overflow: hidden;
// }