@use "./../../fonts.scss";

.delete-note-modal {
  color: var(--color-text-1);
  background-color: var(--color-bg-3);
  border: 1px solid var(--color-border-5);
  border-radius: 12px;
  max-width: 343px;
  margin: auto;

  &__top {
    padding: 20px;
    display: flex;
    gap: var(--spacing-200);
  }

  &__icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: var(--color-bg-4);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    h2 {
      margin-bottom: 6px;
      @include fonts.apply-text-preset("3");
    }
    p {
      @include fonts.apply-text-preset("5");
    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-200);
    padding: 16px 20px;
  }

  &::backdrop {
    background-color: rgb(from var(--color-neutral-950) r g b / 50%);
  }
}

.hl-separator {
  width: 100%;
  height: 1px;
  min-height: 1px;
  background-color: var(--color-border-5);
}

@media (min-width: 48rem) {
  .delete-note-modal {
    max-width: 440px;
  }
}
